<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>oTF</title>
  {{ range .Stylesheets }}
  <link rel="stylesheet" href="/static/{{ . }}">
  {{ end }}
</head>
<body>
  <header class="masthead">
    <div class="wrapper">
      <h1>oTF</h1>
    </div>
  </header>
  <main class="wrapper">
    {{ template "content" . }}
  </main>
</body>
</html>
