<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>oTF</title>
  {{ range .Stylesheets }}
  <link rel="stylesheet" href="/static/{{ . }}">
  {{ end }}
</head>
<body>
    {{ template "content" . }}
</body>
</html>
