{{ template "layout" . }}

{{ define "title" }}Runs{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content.Workspace }}">workspaces</a>
  /
  <a href="{{ getWorkspacePath .Content.Workspace }}">{{ .Content.Workspace.WorkspaceName }}</a>
  /
  runs
{{ end }}

{{ define "content" }}
  {{ range .Content.List.Items }}
  <div class="item">
    <div class="item-heading">
      <span class="status status-{{ .Status }}">{{ .Status }}</span>
      <span>{{ ago .CreatedAt }} ago</span>
    </div>
    <div class="id"><a class="identifier" href="{{ getRunPath . }}">{{ .ID }}</a></div>
    <div><a href="{{ getPlanPath . }}">logs</a></div>
    <div><a href="{{ getApplyPath . }}">logs</a></div>
  </div>
  {{ end }}
{{ end }}
