<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>oTF</title>
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    {{ template "content" }}
</body>
</html>
