{{ define "body" }}
    <h1>API Tokens</h1>

    {{ range .Flashes }}
        <p>{{ . }}</p>
    {{ end }}

    <form action="/app/settings/tokens", method="POST">
        <button>Create token</button>
        <input type="text" name="description" required>
    </form>
    <ul>
    {{ range .Tokens }}
        <li>
            <span>{{ .Description }}</span>
                <form style="display: inline-block;" action="/app/settings/tokens/delete", method="POST">
                <button>Delete</button>
                <input type="hidden" name="id" value="{{ .ID }}" required>
                </form>
        </li>
    {{ else }}
        <div><strong>No tokens</strong></div>
    {{ end }}
    <ul>
{{ end }}
