<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>oTF</title>
</head>
<body>
    <h1>Tokens</h1>
    {{ range .Tokens }}
        <div>{{ . }}</div>
    {{ else }}
        <div><strong>No tokens</strong></div>
    {{ end }}
</div>
</body>
</html>
