{{ define "content" }}
  <h1>API Tokens</h1>

  {{ range .FlashMessages }}
    <p>{{ . }}</p>
  {{ end }}

  <form action="/app/settings/tokens", method="POST">
    <button>Create token</button>
    <input type="text" name="description" required>
  </form>
  <section class="tokens">
    <ul>
      {{ range .Tokens }}
        <li>
          <div class="media-left">
            <span>{{ .Description }}</span>
          </div>
          <div class="media-right">
            <span>{{ .CreatedAt }}</span>
            <form action="/app/settings/tokens/delete" method="POST">
              <button class="danger">Delete</button>
              <input type="hidden" name="id" value="{{ .ID }}" required>
            </form>
          </div>
        </li>
      {{ else }}
        <div><strong>No tokens</strong></div>
      {{ end }}
    <ul>
  </section>
{{ end }}
